      p {
        font-family: Arial;
      }

      button {
        font-family: Arial;
        cursor: pointer;
      }

      .title {
        font-size: 40px;
        margin-top: 0px;
        margin-bottom: 8px;
      }

      input {
        margin-top: 8px;
        width: 400px;
        display: block;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 5px;
        background-color: rgb(240, 240, 240);
        border-style: solid;
        color: rgb(64, 63, 63);
        border-radius: 2px;
        border: none;
        cursor: pointer;
      }

      .destination-box {
        margin-bottom: 35px;
      }

      .request-button {
        margin-top: 15px;
        background-color: black;
        color: white;
      }

      .request-button {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 18px;
        padding-right: 18px;
        border: none;
        margin-right: 15px;
      }

      .later-button {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 18px;
        padding-right: 18px;
        border: none;
        margin-right: 15px
      }